@import "reset.css";

h2{
    max-width: 132.55px;
height: 43.063px;
color: #070707;
text-align: center;
font-size: 34px;
font-weight: 400;
line-height: normal;
}
p{
    max-width: 276.146px;
height: 22.032px;
color: #070707;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;

}
.text{
    margin: auto;
}
img{
    width: 936.24px;
height: 522px;

}
.section{
    max-width: 936.24px;
    margin: auto;
    text-align: center;
}
@media screen and (max-width:375px){
    .text{
        margin-bottom: 78px;
        margin-top: 35px;
    }
#h2{
    margin-top: 81px;
    margin-bottom: 65px;
}
img{
    max-width: 316px;
height: 171px;
padding-left: 29px;
padding-right: 30px;
}
p{
    margin-top: 35px;
}
}